<!DOCTYPE html>
<html lang="pt-br" dir="ltr">
<head>
    <link rel="stylesheet" href="static/index.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | Flexfitness</title>
</head>
<body>
    <header>
        <img src="static/Captura_de_tela_2024-05-03_142901-removebg-preview.png" alt="Logo" width="200px">
        <nav class="nav1">
            <a href="/">Home</a>
            <a href="">Unidades</a>
            <a href="">Horário de funcionamento</a>
            <a href="/aulas">Programas</a>
            <a class="a1" href="/calculadora">IMC</a>
            <a href="/planos"><button>MATRICULE-SE</button></a>
        </nav>
    </header>

    <img src="static/Frame 1.png" alt="" width="100%">

    <h1>AULAS</h1>

    <div class="div1">
        <div class="aulas"><img src="static/Frame 2.png" alt=""></div>
        <div class="aulas"><img src="static/Frame 3.png" alt=""></div>
        <div class="aulas"><img src="static/Frame 4.png" alt=""></div>
    </div>

    <div class="div2">
        <h2 class="h2">FIQUE POR DENTRO DE NOSSAS NOVIDADES</h2>

        <a class="a2" href="/aulas"><button>CONHEÇA NOSSOS TREINOS</button></a>
    </div>

    <footer>
        <div class="div3">
            <div>
                <ul class="ul1">
                    <li><a href="">Unidades</a></li>
                    <li><a href="">Trabalhe conosco</a></li>
                    <li><a href="">Contato</a></li>
                    <li><a href="">Sobre nós</a></li>
                    <li><a href="">Treinos</a></li>
                    <li><a href="">Termos e condições</a></li>
                    <li><a href="">Ajuda</a></li>
                </ul>
            </div>

            <div>
                <ul class="ul2">
                    <li><p>+18 1234-5678</p></li>
                    <li><p>flexfitness.academia@gmail.com</p></li>
                    <li><p>Endereço: Avenida João Cernach, 2180 - Vila Troncoso - Vila Troncoso, Birigui - SP, 16203-004</p></li>
                </ul>

                <div class="imagens">
                    <img src="static/instagram.svg" alt="">
                    <img src="static/facebook.svg" alt="">
                    <img src="static/whatsapp.svg" alt="">
                </div>
            </div>
        </div>
    </footer>
</body>
</html>'